body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: white;
    text-align: center;
}

header {
    color: white;
    background: url("../images/the-flatiron-building.png") no-repeat scroll center;
    background-size: cover;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

.menu-link {
    color: white;
    text-decoration: underline;
}

.designed-in {
    background: url("../images/the-flatiron-building.png") no-repeat scroll center;
    background-size: cover;
}

.designed-in h3 {
    color: white;
}

footer {
    background-color: dimgray;
    text-align: left;
}

footer p {
    color: white;
}

footer .small {
    font-size: 11px;
}

